<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FacbookTest">
  <test thread-count="5" name="ConnectByFacbookTestfail">
    <classes>
      <class name="Tests.ConnectByFacbookTestfail"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchFamleCheep">
    <classes>
      <class name="Tests.BestMatchFamleCheep"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchFamleExpensive">
    <classes>
      <class name="Tests.BestMatchFamleExpensive"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchFamleNormal">
    <classes>
      <class name="Tests.BestMatchFamleNormal"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchMaleCheep">
    <classes>
      <class name="Tests.BestMatchMaleCheep"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchMaleExpensive">
    <classes>
      <class name="Tests.BestMatchMaleExpensive"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMatchMaleNormal">
    <classes>
      <class name="Tests.BestMatchMaleNormal"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BookingTest">
    <classes>
      <class name="Tests.BookingTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ChatTest">
    <classes>
      <class name="Tests.ChatTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- FacbookTest -->
