<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="BestMutch">
    <classes>
      <class name="Tests.BestMutch"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="LoginTests">
    <classes>
      <class name="Tests.LoginTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SignUpByFacbookTest">
    <classes>
      <class name="Tests.SignUpByFacbookTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SignUpTest">
    <classes>
      <class name="Tests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
