<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="WishiTests.Listener"></listener>
    </listeners>
 
 
 
 
   
   
    
    
  <test name="Login">
    <classes>
      <class name="WishiTests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="SignUp">
    <classes>
       <class name="WishiTests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="ChatTests">
    <classes>
      <class name="WishiTests.ChatTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="QwizTests">
    <classes>
      <class name="WishiTests.QwizTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="QwizSkipedTests">
    <classes>
      <class name="WishiTests.QwizSkipedTests"/>
    </classes>
  </test> <!-- Test -->
     <test name="UploadItemTest">
    <classes>
      <class name="WishiTests.UploadItemTest"/>
       </classes>
  </test> <!-- Test -->
   <test name="CrateLookTests">
    <classes>
      <class name="WishiTests.CrateLookTests"/>
    </classes>
  </test> <!-- Test -->
    
   <test name="LoginWithFacbookFailsTests">
    <classes>
      <class name="WishiTests.LoginWithFacbookFailsTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="LoginWithFacbookTests">
    <classes>
      <class name="WishiTests.LoginWithFacbookTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="SignUpByFacbook">
    <classes>
      <class name="WishiTests.SignUpByFacbook"/>
    </classes>
  </test> <!-- Test -->
   <test name="SignUpByFacbookfailes">
    <classes>
      <class name="WishiTests.SignUpByFacbookfailes"/>
    </classes>
  </test> <!-- Test -->
    
  
    <test name="StartHereLowFemaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereLowFemaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="StartHereExpensiveFemaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereExpensiveFemaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="StartHereExpensiveMaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereExpensiveMaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
    
    <test name="StartHereLowMaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereLowMaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="StartHereNaturalMatchTests">
    <classes>
      <class name="WishiTests.StartHereNaturalMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="StartHereNormalFemaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereNormalFemaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="StartHereNormalMaleMatchTests">
    <classes>
      <class name="WishiTests.StartHereNormalMaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
  
  <test name="RetakeExpensiveMaleMatchTests">
    <classes>
      <class name="WishiTests.RetakeExpensiveMaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchExpensiveFeamleTests">
    <classes>
      <class name="WishiTests.RetakeMatchExpensiveFeamleTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchLowFeamleTests">
    <classes>
      <class name="WishiTests.RetakeMatchLowFeamleTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchLowMaleTests">
    <classes>
      <class name="WishiTests.RetakeMatchLowMaleTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchNaturalTests">
    <classes>
      <class name="WishiTests.RetakeMatchNaturalTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchNormalFeamleTests">
    <classes>
      <class name="WishiTests.RetakeMatchNormalFeamleTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="RetakeMatchNormalMaleTests">
    <classes>
      <class name="WishiTests.RetakeMatchNormalMaleTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="BestExpensiveMaleMatchTests">
    <classes>
      <class name="WishiTests.BestExpensiveMaleMatchTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchExpensiveFeamleTests">
    <classes>
      <class name="WishiTests.BestMatchExpensiveFeamleTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchLowFeamleTests">
    <classes>
      <class name="WishiTests.BestMatchLowFeamleTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchLowMaleTests">
    <classes>
      <class name="WishiTests.BestMatchLowMaleTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchNaturalTests">
    <classes>
      <class name="WishiTests.BestMatchNaturalTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchNormalFeamleTests">
    <classes>
      <class name="WishiTests.BestMatchNormalFeamleTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchNormalMaleTests">
    <classes>
      <class name="WishiTests.BestMatchNormalMaleTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BookingsingleTests">
    <classes>
       <class name="WishiTests.BookingsingleTests"/>
    </classes>
  </test> <!-- Test -->
    <test name="BookingMembershipTests">
    <classes>
       <class name="WishiTests.BookingMembershipTests"/>
    </classes>
  </test> <!-- Test -->  
   
 </suite> <!-- Suite -->
