<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Login">
    <classes>
      <class name="WishiTests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="SignUp">
    <classes>
       <class name="WishiTests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="LoginWithFacbookTests">
    <classes>
      <class name="WishiTests.LoginWithFacbookTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="SignUpByFacbook">
    <classes>
      <class name="WishiTests.SignUpByFacbook"/>
    </classes>
  </test> <!-- Test -->
  <test name="CrateLookTests">
    <classes>
      <class name="WishiTests.CrateLookTests"/>
    </classes>
  </test> <!-- Test -->
  <test name="ChatTests">
    <classes>
      <class name="WishiTests.ChatTests"/>
    </classes>
    </test> <!-- Test -->
     <test name="BestMatchTests">
    <classes>
      <class name="WishiTests.BestMatchTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="BookingStylistTests">
    <classes>
       <class name="WishiTests.BookingStylistTests"/>
    </classes>
  </test> <!-- Test -->
    <test name="QwizTests">
    <classes>
      <class name="WishiTests.QwizTests"/>
    </classes>
    </test> <!-- Test -->
    <test name="QwizSkipedTests">
    <classes>
      <class name="WishiTests.QwizSkipedTests"/>
    </classes>
  </test> <!-- Test -->
   <test name="UploadItemTest">
    <classes>
      <class name="WishiTests.UploadItemTest"/>
       </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
