<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="Tests.Listener"></listener>
    </listeners>
  
  <test thread-count="5" name="QuizForMaleTest">
    <classes>
      <class name="Tests.QuizForMaleTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="QuizForWomenTest">
    <classes>
      <class name="Tests.QuizForWomenTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SignUpByFacbookTest2">
    <classes>
      <class name="Tests.SignUpByFacbookTest2"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SignUpTest">
    <classes>
      <class name="Tests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ChatTest">
    <classes>
      <class name="Tests.ChatTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="RetakeBestMatch">
    <classes>
      <class name="Tests.RetakeBestMatch"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ReviseThirdLookTest">
    <classes>
      <class name="Tests.ReviseThirdLookTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="BookPSTest">
    <classes>
      <class name="Tests.BookPSTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="BestMutch">
    <classes>
      <class name="Tests.BestMutch"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="ContactStylistTest">
    <classes>
      <class name="Tests.ContactStylistTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="EditStyleForMenTests">
    <classes>
      <class name="Tests.EditStyleForMenTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="EditStyleForWomenTests">
    <classes>
      <class name="Tests.EditStyleForWomenTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="CheckOutMounthTest">
    <classes>
      <class name="Tests.CheckOutMounthTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="CheckOutSingleTest">
    <classes>
      <class name="Tests.CheckOutSingleTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="CheckOutPSTest">
    <classes>
      <class name="Tests.CheckOutPSTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="CheckOutByCoponTest">
    <classes>
      <class name="Tests.CheckOutByCoponTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="LoginTests">
    <classes>
      <class name="Tests.LoginTests"/>
    </classes>
  </test> <!-- Test --> 
  <test thread-count="5" name="QuickQuizForWomenTest">
    <classes>
      <class name="Tests.QuickQuizForWomenTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="QuickQuizMale">
    <classes>
      <class name="Tests.QuickQuizForMenTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="QuizForSelfIdentityTest">
    <classes>
      <class name="Tests.QuizForSelfIdentityTest"/>
    </classes>
  </test> <!-- Test -->
 

  
 
</suite> <!-- Suite -->
