<html>
<head>
<title>TestNG:  BookingStylistTests</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>BookingStylistTests</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>2/1/0</td>
</tr><tr>
<td>Started on:</td><td>Fri Aug 10 14:06:06 IDT 2018</td>
</tr>
<tr><td>Total time:</td><td>115 seconds (115008 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='WishiTests.BookingStylistTests.CheckoutUnlimited()'><b>CheckoutUnlimited</b><br>Test class: WishiTests.BookingStylistTests<br/>
<a href="#Output-819324524" onClick='toggleBox("Output-819324524", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-819324524" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-819324524">
About to begin executing following method : BookingStylistTests.CheckoutUnlimited<br/>
Completed executing following method : BookingStylistTests.CheckoutUnlimited<br/>
About to Failure executing Suite CheckoutUnlimited<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Failed<br/>
About to Failure executing Suite CheckoutUnlimited<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Failed<br/>
</div>
</td>
<td><div><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;div class=&quot;thank-u-btn&quot; ng-click=&quot;goToQuiz()&quot;&gt;...&lt;/div&gt; is not clickable at point (960, 577). Other element would receive the click: &lt;div class=&quot;loader_fade ng-isolate-scope show_loader_fade&quot; ng-class=&quot;{show_loader_fade: !condition}&quot; condition=&quot;notSubmitted&quot; style=&quot;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=68.0.3440.106)
  (Driver info: chromedriver=2.40.565386 (45a059dc425e08165f9a10324bd1380cc13ca363),platform=Mac OS X 10.13.4 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.13.0&apos;, revision: &apos;2f0d292&apos;, time: &apos;2018-06-25T15:32:14.902Z&apos;
System info: host: &apos;yinons-MBP-2&apos;, ip: &apos;192.168.14.154&apos;, os.name: &apos;Mac OS X&apos;, os.arch: &apos;x86_64&apos;, os.version: &apos;10.13.4&apos;, java.version: &apos;9.0.1&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565386 (45a059dc425e08..., userDataDir: /var/folders/xz/jk5hy2jd3sb...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: MAC, platformName: MAC, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 68.0.3440.106, webStorageEnabled: true}
Session ID: e19e20dbd77908bc917f878690343c26
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:548)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:276)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:83)
	at WishiTests.BookingStylistTests.CheckoutUnlimited(BookingStylistTests.java:97)
... Removed 29 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace819324524", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace819324524'><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;div class=&quot;thank-u-btn&quot; ng-click=&quot;goToQuiz()&quot;&gt;...&lt;/div&gt; is not clickable at point (960, 577). Other element would receive the click: &lt;div class=&quot;loader_fade ng-isolate-scope show_loader_fade&quot; ng-class=&quot;{show_loader_fade: !condition}&quot; condition=&quot;notSubmitted&quot; style=&quot;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=68.0.3440.106)
  (Driver info: chromedriver=2.40.565386 (45a059dc425e08165f9a10324bd1380cc13ca363),platform=Mac OS X 10.13.4 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.13.0&apos;, revision: &apos;2f0d292&apos;, time: &apos;2018-06-25T15:32:14.902Z&apos;
System info: host: &apos;yinons-MBP-2&apos;, ip: &apos;192.168.14.154&apos;, os.name: &apos;Mac OS X&apos;, os.arch: &apos;x86_64&apos;, os.version: &apos;10.13.4&apos;, java.version: &apos;9.0.1&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565386 (45a059dc425e08..., userDataDir: /var/folders/xz/jk5hy2jd3sb...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: MAC, platformName: MAC, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 68.0.3440.106, webStorageEnabled: true}
Session ID: e19e20dbd77908bc917f878690343c26
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:488)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:548)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:276)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:83)
	at WishiTests.BookingStylistTests.CheckoutUnlimited(BookingStylistTests.java:97)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:564)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:114)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>21</td>
<td>WishiTests.BookingStylistTests@212b5695</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='WishiTests.BookingStylistTests.CheckOutSession()'><b>CheckOutSession</b><br>Test class: WishiTests.BookingStylistTests<br/>
<a href="#Output-381933984" onClick='toggleBox("Output-381933984", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-381933984" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-381933984">
About to begin executing following method : BookingStylistTests.CheckOutSession<br/>
Completed executing following method : BookingStylistTests.CheckOutSession<br/>
About to Success executing Suite CheckOutSession<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Pass<br/>
About to Success executing Suite CheckOutSession<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Pass<br/>
</div>
</td>
<td></td>
<td>17</td>
<td>WishiTests.BookingStylistTests@212b5695</td></tr>
<tr>
<td title='WishiTests.BookingStylistTests.DoSignUp()'><b>DoSignUp</b><br>Test class: WishiTests.BookingStylistTests<br/>
<a href="#Output-488045285" onClick='toggleBox("Output-488045285", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-488045285" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-488045285">
About to begin executing following method : BookingStylistTests.DoSignUp<br/>
Completed executing following method : BookingStylistTests.DoSignUp<br/>
About to Success executing Suite DoSignUp<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Pass<br/>
About to Success executing Suite DoSignUp<br/>
Test Method resides in WishiTests.BookingStylistTests<br/>
Test Status: Pass<br/>
</div>
</td>
<td></td>
<td>61</td>
<td>WishiTests.BookingStylistTests@212b5695</td></tr>
</table><p>
</body>
</html>